*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#000;
    color:rgb(17, 245, 85);
}
hr{
    background-color:rgb(17, 245, 85);
}
.card{
    background-color:#121212;
}

.table{
    background: color #121212;
}

.card-img-top{
    height:200px;
}

.btn{
    background-color:rgb(17, 245, 85);
    font-weight:700;
    margin-left:100%;
    transform:translateX(-100%);    
}

.navbar .navbar-nav .nav-item .nav-link{
    color:rgb(17, 245, 85);
    font-weight:600;
    margin-left:30px;
   
}
.navbar{
    padding-top:20px;
    padding-bottom:20px;
}
.navbar .navbar-brand{
    color:rgb(17, 245, 85);
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    background-color:rgb(17, 245, 85);
    color:#000;
    border-radius:10px;

}

a{
    text-decoration:none;

}



@media screen and (max-width:778px){


    .navbar .navbar-nav .nav-item .nav-link{
        padding-left:10px;
    }
}