*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#000;
    color:rgb(17, 245, 85);
}
hr{
    background-color:rgb(17, 245, 85);
}
.card{
    background-color:#121212;
}

.table{
    background: color #121212;
}

.card-img-top{
    height:200px;
}

.btn{
    background-color:rgb(17, 245, 85);
    font-weight:700;
    margin-left:100%;
    transform:translateX(-100%);    
}